h1, h2, h3 {
    margin-top: 77px;
}

[data-md-color-scheme="prison-reform-trust"] {
    --md-primary-fg-color:        #a23238;
    --md-primary-bg-color:        #f7f2f2;
    --md-default-fg-color:        #343436;
    --md-default-bg-color:          var(--md-primary-bg-color);
    --md-code-bg-color:           hsla(200, 0%, 92%, 1);
    --md-typeset-color:             var(--md-default-fg-color);
    --md-typeset-a-color:           var(--md-primary-fg-color);
    --md-footer-bg-color--dark:     var(--md-primary-fg-color);
}

[data-md-color-scheme="slate"] {
    --md-hue: 240;
    --md-primary-fg-color:        #563551;
}